@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}
body {
  background-color: rgb(34, 34, 34);
}
header {
    align-items: center;
    background-color: rgb(68, 68, 68);
    width: 100%;
    height: 10vh;
    border: rgb(34, 34, 34) 2px solid;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(64, 106, 196);
    color: white;
    width: 100%;
    height: 10vh;

}
nav ul {
  list-style-type: none;
  margin: 0;
}

.form {
    display: flex;
    justify-content: center;
    background-color: rgb(64, 106, 196);
    align-items: center;
    gap: 2vw;
    margin-top: 2%;
    margin-left: 37.5vw;
    width: 25vw;
    height: 10vh;
    border: rgb(0, 0, 0) 2px solid;
    border-radius: 10px 10px;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 187);
    margin-left: 41.5vw;
    margin-top: 2%;
    width: 17vw;
    height: 30vh;
    border: yellow 2px solid;
    border-radius: 0px 10px 0 0;
}
textarea {
    background-color: rgb(255, 255, 187);
    width: 15vw;
    height: 15vh;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}
.titulo {
  width: 15vw;
  height: 2.5vh;
}
button{
    width: 5vw;
    border: none;
    cursor: pointer;
}
.nota {
  border: yellow 2px solid;
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 17vw;
  background-color: rgb(255, 255, 187);
}
